* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f3f6f9;
}

.auth-container {
    display: flex;
    height: 100vh;
}

/* KIRI */
.brand {
  display: inline-block;
  margin: 20px;
  padding-left: 20px;
}

.auth-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-left img {
    width: 80%;
    max-width: 450px;
}

/* KANAN */
.auth-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-card {
    background: white;
    padding: 40px;
    width: 360px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    text-align: center;
}

.auth-card h2 {
    margin-bottom: 25px;
    color: #333;
}

.auth-card h2 span {
    color: #8B0000;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background: #8B0000;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.btn-login:hover {
    background: #8B0000;
}

.divider {
    margin: 15px 0;
    color: #777;
}

.btn-register {
    display: block;
    padding: 12px;
    border: 2px solid #8B0000;
    color: #8B0000;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.btn-register:hover {
    background: #8B0000;
    color: white;
}

.auth-navbar {
    width: 100%;
    height: 60px;
    background: #8B0000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 0 2px 6px rgba(0,0,0,.05);
}

.nav-left {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.nav-right {
    margin-right:20px
}
.nav-right a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.nav-right a:hover {
    text-decoration: underline;
}

/* Register */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    background: #f4f6f8;
}

.auth-card {
    background: white;
    padding: 40px;
    width: 380px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

.auth-card h2 {
    text-align: center;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.form-group small {
    color: red;
}

.btn-primary {
    width: 100%;
    padding: 12px;
    background: #8B0000;
    border: none;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.auth-alt {
    margin-top: 15px;
    text-align: center;
}

.add-barang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #555;
    border: 2px dashed #bbb;
    transition: .3s;
}

.add-barang:hover {
    border-color: #6c63ff;
    color: #6c63ff;
}

.add-barang .plus {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}
