.barang-container {
    padding: 20px;
}

.barang-container h2 {
    margin-bottom: 15px;
}

.btn-add {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 16px;
    background: #8B0000;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.barang-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.barang-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0 10px 25px rgba(0,0,0,0.06);
}


.barang-card:hover {
    transform: translateY(-5px);
}

.barang-card img {
    width: 100%;
    height: 140px;
    object-fit: contain;
    margin-bottom: 12px;
}

.barang-card h3 {
    margin: 8px 0;
}

.btn-pinjam {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #6ba6ff;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.btn-pinjam:hover {
    background: #558de8;
}

.btn-pinjam:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.barang-nama {
    font-size: 18px;
    font-weight: 600;
    min-height: 48px;
    margin-bottom: 6px;
}